
body {
    padding-top: 70px;
}

dl {
    width:100%;
    overflow:hidden;
}

dt {
    float:left;
    width:50%; /* adjust the width; make sure the total of both is 100% */
}

dd {
    float:left;
    width:50%; /* adjust the width; make sure the total of both is 100% */
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    border-bottom: dashed 1px #bbb;
}

.first-level-nav > a {
    font-size:1.8em;
}

.first-level-nav ul {
    width: 89%;
}

.first-level-nav ul.nav>li {
    width: 25%;
    border-top: 3px solid #bbb;
}

.first-level-nav ul.nav>li.active {
    border-top: 3px solid #333;
}

.inner-table {
    width: 100%;
}

.inner-table tr {
    line-height: 33px;
}

.inner-table td {
    /* border: none; */
    border-bottom: 0px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
}

.inner-table td:first-child {
    width: 30px;
}

.mbm-icon-blue {
    color: #3cf;
    padding:4px 0 0 6px;
}

.mbm-input-blue {
    border: 0px;
    border-bottom: 1px solid #3cf;
    background: transparent;
}

.mbm-input-blue:focus {
    outline: none;
}

/* nav common */
/*.navbar {*/
    /*margin-bottom: 0px;*/
    /*border-radius: 0px;*/
/*}*/

/*.navbar ul.nav>li {*/
    /*text-align:center;*/
    /*font-size:1.8em;*/
/*}*/

/*.navbar-brand {*/
    /*padding: 6px 10px;*/
    /*border-right: 1px solid #bbb;*/
/*}*/

.popover {
    max-width: 100%;
    width: 49%;
    max-height: 80%;
}

.second-level-nav {
    background: #bbb;
}

.second-level-nav ul {
    width: 45%;
}

.second-level-nav ul.nav>li {
    width: 50%;
}

.second-level-nav ul.nav>li>a {
    color: #eee;
}

.second-level-nav ul.nav>li>a:hover {
    color: #333;
}

.second-level-nav ul.nav>li.active>a {
    color: #fff;
    background-color: #888;
}

.second-level-nav-item {
    float: right;
    margin-top: 9px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.task-comment-notification {
    top: 5px;
    font-size: 1.6em;
}

.task-comment-number {
    position: absolute;
    top: 1px;
    left: 7px;
    color: white;
    font-size: 0.6em;
    font-weight: bold;
}

.task-panel {
    min-height: 400px;
}

.third-level-nav {
    margin-top: 10px;
    margin-right: 10px;
}

.third-level-nav a {
    margin-right: 5px;
}

.tt-hint {
    top: -1px !important;
    left: -12px !important;
    visibility: hidden;
}

.twitter-typeahead .tt-query {
    border-radius: 0px!important;
}