html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    height: 100%;
    min-height: 100%;
}

.container {
    height: 100%;
    min-height: 100%;
}

.navbar {
    margin-bottom: 0;
    text-align: center;
    color: white;
    min-height: 42px;
}

.list-chevron-right {
    position: absolute;
    top: 35%;
    right: 15px;
}

.row-offcanvas {
    border:none !important;
}

.s-header {
    height:24px;
    line-height: 24px;
    padding: 5px 15px;
}
.s-title {
    font-size: .9em;
    text-transform: uppercase;
}
/*
* Nav style
* --------------------------------------------------
* patient list
*/

.navbar{
    min-height: 44px;
    height: 44px;
}

.navbar-inverse{
    background-color: #3ab3f0;
    border-color: #3ab3f0;
}

.navbar>h4{
    margin-top: 6px;
    margin-bottom: 4px;
}


.navbar>p{
    margin: 0 0 2px;
    font-size: .85em;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #3ab3f0;
    border-color: #3ab3f0;
}

.row {
    margin-top: 0;
}
.col-xs-1, .col-sm-11, .col-sm-12, .col-md-12{
    padding-right: 0;
    padding-left: 0;
}

.nav>li>a {
    text-align: center;
    color: #FFFFFF;
}


.nav-tabs>li {
    width: 33.33333%;
    font-size: 16px;
    background-color: #191a1b;
}

.nav-tabs>li.active>a{
    color:#3ab3f0;
}


.nav-tabs>li>a {
    border-radius: 0;
}

/*
* Task View
* ---------------------------------------------------
*
*/

.task-view>li {
    width: 50%;
}

.task-view li a span.glyphicon{
    margin-right: 6px;
}

a.task{
    color:#555555;
}

.add-task {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
}

.add-task .twitter-typeahead {
    width: 91%;
}

.add-task .glyphicon{
    color: #3ab3f0;
    margin-left: 6px;
}





/*
* BTNs styles
* ---------------------------------------------------
*/

.btn-nav{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-nav:hover {
    color:#FFFFFF;
}
.btn-nav:active {
    color: #1775A4
}

.btn-xs{
    line-height: 1;
}

.btn:focus {
    outline: none;

}

.form-control {
    box-shadow: none;

}
.form-control:focus{
    box-shadow: none;
}



/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
  .sidebar-offcanvas {
        right: -81%; /* 6 columns */
    }

    .row-offcanvas-left
  .sidebar-offcanvas {
        left: -81%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 81%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 81%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 81%; /* 6 columns */
    }

    .menu-button {
        color: white;
        font-size: 1.5em;
        padding: 4px;
        margin: 4px;
    }

    .row-offcanvas .list-group-item {
        border-radius: 0;
    }

    .sidebar-offcanvas,
    .col-xs-12 {
        padding: 0;
    }

    .row-offcanvas-middle {
        height: 100%;
        border: 1px solid #ccc;
        background-color: #FFFFFF;
    }

    .row-offcanvas-middle.left-open {
        left: 81% !important;
    }

    .row-offcanvas-middle.right-open {
        right: 81% !important;
    }

}



