
.popover {
	max-width: 100%;
	width: 49%;
	max-height: 80%;
}

/*.editable-task {*/
    /*display: block;*/
    /*margin-bottom: 5px;*/
/*}*/

/*.editable-task label {*/
    /*width: 70px;*/
    /*display: inline-block;*/
/*}*/

.editable-click,
a.editable-click,
a.editable-click:hover {
    border-bottom: dashed 1px #bbb;
}


/* nav common */
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-brand {
    padding: 6px 10px;
    border-right: 1px solid #bbb;
}

.first-level-nav ul {
    width: 89%;
}

.first-level-nav ul.nav>li {
    width: 25%;
}

.navbar ul.nav>li {
    text-align:center;
    font-size:1.8em;
}

/* first level nav */
.first-level-nav > a {
    font-size:1.8em;
}

.first-level-nav ul.nav>li {
    border-top: 3px solid #bbb;
}

.first-level-nav ul.nav>li.active {
    border-top: 3px solid #333;
}

.second-level-nav {
    background: #bbb;
}

.second-level-nav ul {
    width: 45%;
}

.second-level-nav ul.nav>li {
    width: 50%;
}

.second-level-nav ul.nav>li>a {
    color: #eee;
}

.second-level-nav ul.nav>li>a:hover {
    color: #333;
}

.second-level-nav ul.nav>li.active>a {
    color: #fff;
    background-color: #888;
}

.second-level-nav-item {
    float: right;
    margin-top: 9px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.third-level-nav {
    margin-top: 10px;
    margin-right: 10px;
}

.third-level-nav a {
    margin-right: 5px;
}

.task-comment-notification {
    top: 5px;
    font-size: 1.6em;
}

.task-comment-number {
    position: absolute;
    top: 1px;
    left: 7px;
    color: white;
    font-size: 0.6em;
    font-weight: bold;
}