
/* page body */
.page-body {
	width: 100%;
}

.page-body .patients-table {
    width: 100%;
    margin-left: auto;
	margin-right: auto;
}

.patient-unwell > td {
    background: #ffdddd !important;
}

th,td {
	border: 1px solid;
	padding: 8px;
    border-color: #bbb;
    vertical-align: top;
}

.patient-info {
    width: 100%;
}

.patient-info td {
    width: 50%;
    border: 0px;
}

.patient-info td:first-child {
    border-right: 1px solid;
    border-color: #bbb
}

/* footer */
footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:20px;
}

footer .copyright {
	text-align: center;
}

