
.container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    width: 100%;
}

.row {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0px;
}

.box-middle {
    position: absolute;
    top: 20%;
    padding: 50px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.commentDetails {
    color: grey;
    font-style: italic;
}

.danger {
    background: #ffdddd !important;
}

.danger > td {
    background: #ffdddd !important;
}

dl {
    width:100%;
    overflow:hidden;
}

dt {
    float:left;
    width:40%; /* adjust the width; make sure the total of both is 100% */
}

dd {
    float:left;
    width:60%; /* adjust the width; make sure the total of both is 100% */
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    border-bottom: dashed 1px #bbb;
}

.first-level-nav > a {
    font-size:1.8em;
}

.first-level-nav ul {
    width: 89%;
}

.first-level-nav ul.nav>li {
    width: 25%;
    border-top: 3px solid #bbb;
}

.first-level-nav ul.nav>li.active {
    border-top: 3px solid #333;
}

.inner-table {
    width: 100%;
}

.inner-table tr {
    line-height: 33px;
}

.inner-table td {
    /* border: none; */
    border-bottom: 0px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
}

.inner-table td:first-child {
    width: 30px;
}

.mbm-icon-blue {
    color: #3cf;
    padding:4px 0 0 6px;
}

.mbm-input-blue {
    border: 0px;
    border-bottom: 1px solid #3cf;
    background: transparent;
    border-radius: 0px;
}

.mbm-input-blue:focus {
    outline: none;
}

.navbar-brand {
    padding: 0;
    border: 3px solid white;
}

.patient-info {
    width: 100%;
}

.patient-info td {
    width: 50%;
}

.patient-info td:first-child {
    border-right: 1px solid;
    border-color: #bbb
}

.record-date {
    color: grey;
    float: right !important;
}

.second-level-nav {
    background: #bbb;
}

.second-level-nav ul {
    width: 45%;
}

.second-level-nav ul.nav>li {
    width: 50%;
}

.second-level-nav ul.nav>li>a {
    color: #eee;
}

.second-level-nav ul.nav>li>a:hover {
    color: #333;
}

.second-level-nav ul.nav>li.active>a {
    color: #fff;
    background-color: #888;
}

.second-level-nav-item {
    float: right;
    margin-top: 9px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.selected-row td {
    background-color: #def6ff !important;
}

.task a {
    color: #333;
}

.task-comment-notification {
    top: 8px;
    font-size: 1.6em;
}

.task-comment-number {
    position: absolute;
    top: 1px;
    left: 7px;
    color: white;
    font-size: 0.6em;
    font-weight: bold;
}

.task-creator {
    color: grey;
    font-style: italic;
}

.task-panel {
    min-height: 400px;
}

th, td {
    padding: 8px;
}

.tt-hint {
    top: -1px !important;
    left: -12px !important;
    visibility: hidden;
}

.twitter-typeahead .tt-query {
    border-radius: 0px!important;
}

.user-status-offline {
    color: grey;
}

.user-status-on-call {
    color: red;
}

.user-status-online {
    color: #0c0;
}
