
.popover {
	max-width: 100%;
	width: 49%;
	max-height: 80%;
}

.editable-task {
    display: block;
    margin-bottom: 5px;
}

.editable-task span {
    width: 70px;
    display: inline-block;
}



.navbar ul.nav>li {
    width: 276px;
    text-align:center;
    font-size:1.8em;
}

.navbar ul.nav>li.active {
    border-top: 3px solid #333;
}

.second-level-nav {
    margin-top: -18px;
}
